<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151878495365-aj3t287l517c1dbhk9ij2dkauhmarqvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151878495365-aj3t287l517c1dbhk9ij2dkauhmarqvv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>151878495365-4bjlatlv7n69g0mt9p8jkn9ht617dnho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD3eEdWUZHf5bydQkN7S-QJWv-zqqMslQ</string>
	<key>GCM_SENDER_ID</key>
	<string>151878495365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>we.courier.com</string>
	<key>PROJECT_ID</key>
	<string>we-courier-81101</string>
	<key>STORAGE_BUCKET</key>
	<string>we-courier-81101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151878495365:ios:60941cce954ce593260dec</string>
</dict>
</plist>